<nav>
    <%if(user){%>
        <a href="/">Home</a>
        <a href="/movies">Movie Reviews</a>
        <a href="/movies/new">Review a movie</a>
        <a href="/users/profile">Profile</a>
        <a href="/auth/sign-out">Sign Out</a>
    <%} else {%>
        <a href="/auth/sign-up">Sign Up</a>
        <a href="/auth/sign-in">Sign In</a>
    <%}%>
</nav>